.box {
  width: 100%;
  max-width: 30em;
  margin: 1em auto;
  border-radius: 13px;
  background-color: var(--gray-200);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 16px 0px;

  @media (prefers-color-scheme: dark) {
    background-color: #30363d;
  }

  a,
  p {
    text-decoration-color: black;
    text-decoration: none !important;
  }

  a:visited {
    // color: var(--gray-600);
    color: black;
  }

  // @media (min-width: 768px) {
  //   padding-left: 1em;
  //   padding-right: 1em;
  // }

  // @media (min-width: 1024px) {
  //   padding-left: 2em;
  //   padding-right: 2em;
  // }

  .thumb {
    padding: 0 0;
    width: 100%;
    height: 9em;
    overflow: hidden;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-position: center;

    @media (min-width: 480px) {
      height: 12em;
    }

    @media (min-width: 768px) {
      height: 15em;
    }

    @media (min-width: 1024px) {
    }
    @media (min-width: 1200px) {
    }
    @media (min-width: 1850px) {
    }
  }

  .title {
    font-family: "Spoqa Han Sans Neo";
    text-decoration-line: none;
    font-size: 1em;
    line-height: 1.4em;
    color: black;

    padding-left: 1.7rem;
    padding-right: 1.7rem;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 라인수 */
    -webkit-box-orient: vertical;

    @media (prefers-color-scheme: dark) {
      color: #c9d1d9;
    }

    @media (min-width: 480px) {
      font-size: 1.3em;
    }

    @media (min-width: 768px) {
      font-size: 1.5em;
    }

    @media (min-width: 1024px) {
    }
    @media (min-width: 1200px) {
    }
    @media (min-width: 1850px) {
    }
  }

  .summary {
    font-size: 0.95em;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    word-break: 3;
  }

  .postDate,
  .ogLinkRepresentativeUrl {
    font-family: "Spoqa Han Sans Neo";
    font-size: 75em;
    font-weight: bold;
    color: #6f7378;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    @media (prefers-color-scheme: dark) {
      color: #6f7378;
    }
    @media (min-width: 480px) {
      font-size: 0.9em;
    }

    @media (min-width: 768px) {
      font-size: 1em;
    }

    @media (min-width: 1024px) {
    }
    @media (min-width: 1200px) {
    }
    @media (min-width: 1850px) {
    }
  }
}
