.modal > section {
  // box-shadow: none;
}
.modal > section > .category-list {
  // max-height: 70vh;
  // overflow-y: scroll;
  overflow: hidden;
}

.category-item {
  display: flex;
  flex-direction: row;
  background-color: rgba(255,255,255, 0.4);
  border-radius: 13px;
  // padding: auto 1.2em;
  // margin: 1em 1.3em;
  list-style: none;
  font-weight: bold;
  align-items: center;

  cursor: pointer;
  p {
    font-size: 1.3em;
    width: 60%;
    @media (min-width: 480px) {
      padding-left: 3.5em;
      padding-right: 3.5em;
      
    }
  }

  img {
    height: 2em;
    width: 2em;
    object-fit: cover;
    color: rgba(255,0,0,0);
  }
}
