@import url("./Font.scss");
@import url("./Color.scss");
@import url("./Variable.scss");

.curator-container {
  display: grid;
  padding: 1em 5vw;
  column-gap: 3.5em;
  row-gap: 3em;
  margin: 0 auto;
  max-width: var(--document-width-desktop);

  text-decoration-line: none;
  grid-template-columns: 1fr;
  @media (min-width: 480px) {
  }

  @media (min-width: 768px) {
  }

  @media (min-width: 1024px) {
  }
  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 1850px) {
  }
}


.buttom-navigator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 2em;
  button {
    width: 6em;
  }
}
