@import url("./Font.scss");
@import url("./Color.scss");
@import url("./Variable.scss");

.curator-container {
  display: grid;
  padding: 1em 5vw;
  column-gap: 3.5em;
  row-gap: 3em;
  margin: 0 auto;
  max-width: var(--document-width-desktop);

  text-decoration-line: none;
  grid-template-columns: 1fr;
  @media (min-width: 480px) {
  }

  @media (min-width: 768px) {
  }

  @media (min-width: 1024px) {
  }
  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 1850px) {
  }
}
.box {
  width: 100%;
  max-width: 30em;
  margin: 0 auto;
  border-radius: 10px;
  background-color: var(--gray-200);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 16px 0px;

  @media (prefers-color-scheme: dark) {
    background-color: #30363d;
  }

  a {
    text-decoration-color: black;
    text-decoration-line: none;
  }

  a:visited {
    // color: var(--gray-600);
    color: black;
  }

  // @media (min-width: 768px) {
  //   padding-left: 1em;
  //   padding-right: 1em;
  // }

  // @media (min-width: 1024px) {
  //   padding-left: 2em;
  //   padding-right: 2em;
  // }

  .postThumb {
    padding: 0 0;
    width: 100%;
    height: 9em;
    overflow: hidden;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-position: center;

    @media (min-width: 480px) {
      height: 12em;
    }

    @media (min-width: 768px) {
      height: 15em;
    }

    @media (min-width: 1024px) {
    }
    @media (min-width: 1200px) {
    }
    @media (min-width: 1850px) {
    }
  }

  .postTitle {
    font-family: "Spoqa Han Sans Neo";
    text-decoration-line: none;
    font-size: 1em;
    color: black;

    padding-left: 1rem;
    padding-right: 1rem;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 라인수 */
    -webkit-box-orient: vertical;

    @media (prefers-color-scheme: dark) {
      color: #c9d1d9;
    }

    @media (min-width: 480px) {
      font-size: 1.3em;
    }

    @media (min-width: 768px) {
      font-size: 1.5em;
    }

    @media (min-width: 1024px) {
    }
    @media (min-width: 1200px) {
    }
    @media (min-width: 1850px) {
    }
  }
}

.postDate {
  font-family: "Spoqa Han Sans Neo";
  font-size: 0.75em;
  font-weight: bold;
  color: #6f7378;
  padding-left: 1rem;
  padding-right: 1rem;
  @media (prefers-color-scheme: dark) {
    color: #6f7378;
  }
  @media (min-width: 480px) {
    font-size: 0.9em;
  }

  @media (min-width: 768px) {
    font-size: 1em;
  }

  @media (min-width: 1024px) {
  }
  @media (min-width: 1200px) {
  }
  @media (min-width: 1850px) {
  }
}

.buttom-navigator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 2em;
  button {
    width: 6em;
  }
}
