@font-face {
  font-family: "IBMFlexSansKRRegular";
  src: url("../Fonts/IBMPlexSansKR-Regular.woff2");
}

@font-face {
  font-family: "IBMFlexSansKRBold";
  src: url("../Fonts/IBMPlexSansKR-Bold.woff2");
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  src: url("../Fonts/SpoqaHanSansNeo-Thin.woff2");
  font-weight: 100; // Thin
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  src: url("../Fonts/SpoqaHanSansNeo-Light.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  src: url("../Fonts/SpoqaHanSansNeo-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  src: url("../Fonts/SpoqaHanSansNeo-Medium.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  src: url("../Fonts/SpoqaHanSansNeo-Bold.woff2");
  font-weight: 700; // bold
}
