@import url("./Font.scss");
@import url("./Variable.scss");
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 2.3em;
  z-index: 999;

  background-color: rgba(255, 255, 255, 0.7);
  @media (prefers-color-scheme: dark) {
    background-color: rgba(13, 17, 23, 0.8);
  }

  font-size: 1.4em;

  @media (min-width: 480px) {
    font-size: 2em;
    height: 2.4em;
  }

  @media (min-width: 768px) {
    // font-size: 3em;
    height: 2.5em;
  }

  @media (min-width: 1024px) {
  }
  @media (min-width: 1200px) {
  }
  @media (min-width: 1850px) {
  }

  .header-content {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
    width: 90vw;
    font-family: "Spoqa Han Sans Neo";

    @media (min-width: 480px) {
      font-size: 0.9em;
    }
    @media (min-width: 768px) {
      font-size: 1.1em;
    }

    @media (min-width: 1024px) {
      max-width: 60rem;
    }
    @media (min-width: 1200px) {
      max-width: 61rem;
    }
    @media (min-width: 1850px) {
      max-width: var(--header-width);
    }

    .header-link {
      text-decoration-line: none;
    }
    .icon {
      // margin: 0.5em auto;

      .headerText {
        font-weight: bold;
        color: black;
        @media (prefers-color-scheme: dark) {
          color: white;
        }
      }
      .underLine {
        width: 0.4em;
        height: 0.4em;
        background-color: #7663f2;
      }
    }
    .menu {
      display: flex;
      flex-direction: row;
      align-self: center;

      .menu-categories-explicitly {
        display: none;
        @media (min-width: 1024px) {
          display: flex;
        }
        flex-direction: row;
        justify-content: flex-end;
        .menu-category {
          font-size: 0.65em;
          font-weight: bold;
          align-self: center;
          margin: auto 0.1em;
          padding: 0.3em 0.4em;
          border-radius: 13px;

          @media (min-width: 480px) {
            margin: auto 1em;
          }

          cursor: pointer;
          .menu-category-link {
            text-decoration-line: none;
            color: black;
            @media (prefers-color-scheme: dark) {
              color: white;
            }
          }
        }
        .menu-category:last-child {
          margin: auto 1em auto 0.5em;
          @media (min-width: 480px) {
            margin: auto 1em auto 1em;
          }
        }
      }

      .menu-icons {
        display: flex;
        flex-direction: row;
        align-items: center;

        .category-icon {
          display: inline-block;
          @media (min-width: 1024px) {
            display: none;
          }
          /* image credit:
          https://fonts.google.com/icons?icon.query=menu&icon.set=Material+Icons
          */
          background-image: url("../Images/menu_black_24dp.svg");
          @media (prefers-color-scheme: dark) {
            background-image: url("../Images/menu_white_24dp.svg");
          }
        }

        .info-icon {
          /* image credit:
          https://fonts.google.com/icons?icon.query=search&icon.set=Material+Icons
          */
          background-image: url("../Images/info_black_24dp.svg");
          @media (prefers-color-scheme: dark) {
            background-image: url("../Images/info_white_24dp.svg");
          }
        }
        .search-icon {
          /* image credit:
          https://fonts.google.com/icons?icon.query=search&icon.set=Material+Icons
          */
          background-image: url("../Images/search_black_24dp.svg");
          @media (prefers-color-scheme: dark) {
            background-image: url("../Images/search_white_24dp.svg");
          }
        }
      }
    }
  }
}

.menu-icon {
  height: 2em;
  width: 2em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  @media (min-width: 480px) {
    height: 2.5em;
    width: 2.5em;
    margin-left: 1em;
    margin-right: 1em;
  }
  border: none;

  // margin: 1em;
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  /* image credit:
  https://fonts.google.com/icons?icon.query=search&icon.set=Material+Icons
  */
  background-image: url("../Images/search_black_24dp.svg");
  @media (prefers-color-scheme: dark) {
    background-image: url("../Images/search_white_24dp.svg");
  }
}

.not-visible-header {
  display: none;
}

.scroll {
  position: sticky;
  top: 0;
  backdrop-filter: saturate(180%) blur(20px);
}

.menu-categories-implicitly{
  display:none;
}
.menu-categories-implicitly .open {
  display: flex;
  flex-direction: column;
  ul {
    display: block;
  }
  ul {
    display: block;
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 10px;
  }
}
