@import "./Color.scss";

.manage-container {
  font-family: "Spoqa Han Sans Neo";
}

.manage-tab {
  font-size: 1.5em;
  text-decoration: none;
  color: black;
  padding: 0.5em;
  border-radius: 13px;
  background-color: var(--gray-300);
  margin-bottom: 0.5em;
}

.left {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-right: 0.7em;
}

.middle {
  border-radius: 0px;
  padding-left: 0.7em;
  padding-right: 0.7em;
}

.right {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-left: 0.7em;
}
